body{
	margin: 0px;
	background-color: #efecec; /*#fff8cd;*//*: linear-gradient(to left, #ffe7b3, #fff7e6)*/
	font-family: Courier New;
}

@keyframes transdown{
	from{
		opacity: 0;
		transform: translateY(-50px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes transup{
	from{
		opacity: 0;
		transform: translateY(100px);
	}
	to{
		opacity: 1;
		transform: translateY(0px;);
	}
}

/*------------------------------------NAVIGATION--------------------------------*/
.navigation{
	/*display: none;*/
	background: linear-gradient(to top, #f4f4f2, #e8e8e8);
	overflow: auto;/*or hidden*/
	float: left;
	width: 15%;
	position: fixed;
	height: 100%;
}

.logo img{
	/*background-color: red;*/
	height: 75px;
	margin: 0px;
	left: 1%;
	top: 0%;
	height: 70px;
	width: 12%;
	position: fixed;
	overflow: visible;
}

.menu{
	margin-top: 80px;
	animation: transup;
	animation-duration: 1s;
}

.menu ul{
	/*background-color: yellow;*/
	margin-bottom: 0px;
	position: sticky;
	text-align: center;
	padding-left: 0px;
	font-size: 17px;
	line-height: 50px;
	letter-spacing: 2px;
	text-align: center;
	list-style-type: none;
}

.current{
	background-color: #f4f4f2;
	font-weight: bolder;
}

.menu a{
	text-decoration: none;
	overflow: hidden;
	color: black;
}

.menu li:hover{
	/*background: linear-gradient(to left, #f4f4f2, #bbbfca);*/
	background-color: #f4f4f2;
	color: black;
	font-size: 1.1em; /*Use 'em' for sizing with respect to current font.*/
	font-weight: bolder;
}

.port-menu{
	display: none;
	font-weight: normal;
}

.menu li:hover .port-menu{
	display: block;
	animation-name: transdown;
	animation-duration: 0.75s;
}

.link{
	margin-top: 0px;
	text-align: center;
	animation: transup;
	padding-top: 10px;
	animation-duration: 1.2s;
	/*position: absolute;
	bottom: 50px;
	left: 60px;*/
}

.link img{
	height: 30px;
	opacity: 60%;
	position: relative;
}

.link img:hover{
	/*height: 35px;*/
	opacity: 100%;
}

.footer{
	/*background-color: red;*/
	bottom: 5px;
	left: 22px;
	position: absolute;
	text-align: center;
	font-family: Montserrat-Regular;
    font-size: 9px;
    letter-spacing: 5px;
    line-height: 13px;
    font-weight: normal;
}

/*----------------------------------------CONTENT-------------------------------*/
.content{
	/*background-color: red;*/
	position: relative;
	height: auto;
	width: 85%;
	float: right;
	animation: transup;
	animation-duration: 1.3s;
}

.header{
	margin: 25px;
	text-align: center;
	font-family: Europa;
	letter-spacing: 7px;
	font-weight: 350;
}

/*------------------------------------------HOME--------------------------------*/
.gallery{
	padding: 10px 35px;
	overflow: hidden;
	column-count: 3;
}

.image{
	display: block;
	padding: 60px;/*Image size also changes*/
	overflow: hidden;
}

.image img{
	width: 100%;
	filter: grayscale(60%);
	transition: 0.3s;
}

.image img:hover{
	filter: grayscale(0%);
	transform: scale(1.28);
}

/*-----------------------------------------CONTACT-------------------------------*/
.contact-info{
	/*background-color: yellow;*/
	text-align: center;
	font-family: Euopa;
	font-size: 22px;
	letter-spacing: 1px;
	word-spacing: 3px;
	font-weight: 100;
}

.contact-form{
	padding: 20px 50px;
	font-family: Europa;
}

/*.contact-form div{
	margin-top: 25px;
	text-align: center;
}*/

.contact-form label{
	/*display: block;*/
	font-size: 15px;
	margin-top: 2px;
	color: grey;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
}

.lname{
	position: absolute;
	left: 46%;
}

.inputs, textarea{
	margin-top: 30px;
	padding: 10px 10px;
	width: 45%;
	border: none;
	border-bottom: 2px solid grey;
	border-radius: 3px;
	font-size: 17px;
	outline: none;
	background-color: #e8e8e8;
	font-family: Europa;
	resize: none;
	box-sizing: border-box; /*Important!!!*/
}

.message{
	width: 95%;
	height: 100px;
}

input[type=submit]/* OR .submit*/{
	font-size: 15px;
	margin: 20px 0px;
	border-radius: 4px;
	letter-spacing: 2px;
	padding: 10px 30px;
	border-style: none;
	color: #f4f4f2;
	background-color: grey;
	/*position: relative;
	left: 75%;*/
}

input[type=submit]:hover{
	background-color: black;
}

.contact-pic{
	width: 70%;
	object-fit: cover;
	height: 300px;
	display: block;
	margin: 30px auto;
	box-shadow: 5px 5px 20px 3px grey;
	overflow: hidden;
	border-radius: 5px;
}
/*------------------------------------------RESPONSIVE---------------------------*/
@media screen and (max-width: 1150px){
	.menu ul{
		font-size: 15px;
	}
	.logo img{
		height: 60px;
	}
	.gallery{
		column-count: 2;
	}
}

@media screen and (max-width: 680px){
	.menu ul{
		font-size: 15px;
	}
	.footer{
		left: 1em;
		font-size: 8px;
	}
	.logo img{
		height: 60px;
	}
	.gallery{
		column-count: 1;
	}
}
