body{
	margin: 0px;
	background-color: #363434;
	height: 100vh;
	color: white;
	font-weight: bold;
	font-family: Helvetica;
	letter-spacing: 8px;
	line-height: 30px;
	overflow: hidden;
}

/* ------------------ANIMATIONS---------------------- */
@keyframes fade {
	from{
		opacity: 20%
	}
	to{
		opacity: 100%}
}
@keyframes glow {
	0% {opacity: 40%}
	50% {opacity: 100%}
	100% {opacity: 40%}
}

/* -------------------BODY------------------------------- */
img{
	height: 100vh;
	width: 100%;
	animation: fade;
	animation-duration: 4s;
	position: relative;
	object-fit: cover;
}
span{
	z-index: 100;
	position: absolute;
	color: #efecec;
	text-align: right;
	font-size: 25px;
	left: 70%;
	top: 25%;
	animation: glow;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

/* ------------------RESPONSIVE----------------------- */
@media screen and (max-width: 768px) {
	span{
		font-size: 25px;
		left: 65%;
	}
}
@media screen and (max-width: 450px) {
	span{
		font-size: 18px;
		left: 50%;
	}
}
